@import "tailwindcss";

@theme {
  --color-green: #719949;
  --color-grey: #3c3c3b;
  --color-blue: #009cbd;
  --color-orange: #de7c00;

  --spacing: 10px;

  --breakpoint-2xl: 75rem;
  --breakpoint-xl: 60rem;
}
